<head>
  <title>Showing tour</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<div id="<%= dom_id tour %>" class="text-center">
  <p>
    <strong>Destination:</strong>
    <%= tour.destination %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= tour.activity %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= tour.date %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= tour.days %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tour.price %>
  </p>

</div>